@use "../variables" as *;
@use "../mixins" as *;

.invite {
    width: 100%;

    .content {
        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/vuong-thao/invite_bg.png') no-repeat bottom / 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        padding: 15% 0 26%;
        color: #363823ff;

        .subtitle {
            font-family: $font-gothamLight;
            font-size: 10px;
            margin-bottom: 2%;
        }

        .event-date {
            font-family: $font-Gotham;
            font-size: 18px;
            text-transform: uppercase;
        }

        .lunar-date {
            font-family: $font-gothamLight;
            font-style: italic;
            font-size: 11px;
        }

        .divider {
            margin: 10%;
            font-size: 14px;
        }

        .venue-label {
            font-size: 10px;
            font-family: $font-GothamBook;
            margin-bottom: 2%;
        }

        .venue-name {
            font-family: $font-PinyonScriptRegular;
            font-size: 52px;
            font-weight: 300;
        }

        address {
            font-family: $font-gothamLight;
            font-style: italic;
            font-size: 9px;
        }


        .venue-action {
            margin-top: 2%;

            .map-btn {
                display: block;
                text-decoration: none;
                color: #ffffffff;
                font-size: 10px;
                font-family: $font-Gotham;
                width: 323px;
                padding: 1% 0 1%;
                background-color: #363823ff;
                border-radius: 15px;
                border: none;
                text-transform: uppercase;
            }
        }

        @media (max-width: 500px) {
            .subtitle {
                font-size: calc((10 / 500) * 100vw);
            }

            .event-date {
                font-size: calc((18 / 500) * 100vw);
            }

            .lunar-date {
                font-size: calc((11 / 500) * 100vw);
            }

            .divider {
                font-size: calc((14 / 500) * 100vw);
            }

            .venue-label {
                font-size: calc((10 / 500) * 100vw);
            }

            .venue-name {
                font-size: calc((52 / 500) * 100vw);
            }

            address {
                font-size: calc((9 / 500) * 100vw);
            }

            .venue-action {
                .map-btn {
                    width: calc((323 / 500) * 100vw);
                    font-size: calc((10 / 500) * 100vw);
                    border-radius: calc((15 / 500) * 100vw);
                }
            }
        }
    }
}