@use "../variables" as *;
@use "../mixins" as *;

.letter-section {
    width: 100%;
    max-width: 500px;

    .content {
        width: 100%;
        aspect-ratio: 500 / 891;
        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/vuong-thao/letter.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        color: $text-color;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.439);
        position: relative;
        cursor: pointer;
        perspective: 1000px;
        padding-bottom: 23%;

        .subtext {
            font-family: $font-lora;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
        }

        .en-subtext {
            font-size: 11px;
            text-transform: uppercase;
        }
    }

    @media (max-width: 500px) {
        .content {
            .subtext {
                font-size: calc((16 / 500) * 100vw);
            }

            .en-subtext {
                font-size: calc((11 / 500) * 100vw);
            }
        }
    }
}