@use "../variables" as *;
@use "../mixins" as *;

.our-story {
    width: 100%;

    .content {
        aspect-ratio: 500 / 1020;
        width: 100%;
        background: url('../../assets/images/ourstory_bg.png') no-repeat center / 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .logo {
            margin-top: 30%;

            img {
                max-width: 80px;
            }
        }

        .title {
            font-size: 15px;
            margin: 3% 0 1%;
            color: $title-color;
        }

        .couple-name {
            font-family: $font-UVNBucThu;
            font-size: 43px;
        }

        .subtext {
            font-size: 13px;
            margin: 5% 0 8%;
        }

        .gallery {
            width: 65%;

            .box-img {
                width: 100%;
                height: 100%;
            }

            .row:nth-child(1) {
                width: 100%;
                aspect-ratio: 312 / 138;
                margin-bottom: 2%;

                .box-img {
                    background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/HongAnh-QuangAnh/ourstory/3.webp') no-repeat 100% 32% / 100%;
                }
            }

            .row:nth-child(2) {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .column {
                    aspect-ratio: 151 / 125;
                    width: 49%;
                }

                .column:nth-child(1) {
                    .box-img {
                        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/HongAnh-QuangAnh/ourstory/2.webp') no-repeat 100% 40% / 100%;
                    }
                }

                .column:nth-child(2) {
                    .box-img {
                        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/HongAnh-QuangAnh/ourstory/1.webp') no-repeat 100% 11% / 100%;
                    }
                }
            }
        }

        .text {
            padding: 0 17%;
            text-align: justify;
            text-align-last: center;
            margin-top: 8%;

            p {
                font-size: 10.6px;
                line-height: 1.5;
                margin-bottom: 5%;
            }
        }

        @media (max-width: 500px) {
            .logo {
                img {
                    max-width: calc((80 / 500) * 100vw);
                }
            }

            .title {
                font-size: calc((15 / 500) * 100vw);
            }

            .couple-name {
                font-size: calc((43 / 500) * 100vw);
            }

            .subtext {
                font-size: calc((13 / 500) * 100vw);
            }

            .text {
                p {
                    font-size: calc((10.6 / 500) * 100vw);
                }
            }
        }
    }

}