@font-face {
    font-family: 'SVN-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../../assets/fonts/SVN-Gotham Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../../assets/fonts/SVN-Gotham.woff2') format('woff2'),
        url('../../assets/fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBook';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qerginas';
    src: url('../../assets/fonts/1FTV-VIP-Qerginas-Frenchstyle-Serif.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PinyonScript-Regular';
    src: url('../../assets/fonts/PinyonScript-Regular.woff2') format('woff2'),
        url('../../assets/fonts/PinyonScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVNBucThu';
    src: url('../../assets/fonts/UVN Buc Thu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../../assets/fonts/Montserrat-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratItalic';
    src: url('../../assets/fonts/Montserrat-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MsClaudy';
    src: url('../../assets/fonts/MsClaudy-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}