@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($props: all, $time: 0.3s, $ease: ease-in-out) {
    transition: $props $time $ease;
}