$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$text-color: #363823ff;
$title-color: #363823ff;
$primary-color: #c9818eff;
$secondary-color: #363823ff;
$bg-color: #fff;

// Font
$font-lora: 'Lora', sans-serif;
$font-UVNBucThu: 'UVNBucThu', sans-serif;
$font-PinyonScriptRegular: 'PinyonScript-Regular', sans-serif;
$font-MontserratBold: 'MontserratBold', sans-serif;
$font-MsClaudy: 'MsClaudy', sans-serif;
$font-MontserratItalic: 'MontserratItalic', sans-serif;
$font-Gotham: 'SVN-Gotham', sans-serif;
$font-GothamBook: 'SVN-GothamBook', sans-serif;
$font-gothamBold: 'SVN-gothamBold', sans-serif;
$font-gothamLight: 'SVN-GothamLight', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;