@use '../mixins' as *;
@use '../variables' as *;

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    @include transition(background-color);

    &--primary {
        background: $primary-color;
        color: white;

        &:hover {
            background: $primary-color;
        }
    }
}